    <!-- Intro Header -->
    <section id="10_pitfall"></section>

        <header class="intro pitfall">
            <div class="intro-body" style="background-color: rgba(0, 0, 0, 0.3)">
                <div class="container">  
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="brand-heading">The pitfalls of using Github pages</h1>
                            <a href="#11_force" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    