    <!-- Intro Header -->
    <section id="11_force"></section>

        <header class="intro force">
            <div class="intro-body" style="background-color: rgba(0, 0, 0, 0.7)">
                <div class="container">  
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="brand-heading">may the force be with you</h1>

                            <p class="intro-text" style="float: left">
                                Eltjo van Gulik
                                </br>
                                Twitter: <a href="https://twitter.com/eltjovg" style="color: white">@eltjovg</a>
                                </br>
                                LinkedIn: <a href="https://www.linkedin.com/in/eltjovangulik/" style="color: white">in/eltjovangulik</a>
                                </br>
                            </p>

                            <p class="intro-text" style="float: right">
                                Ryan Ververs-Bijkerk
                                </br>
                                Twitter: <a href="https://twitter.com/logitblog" style="color: white">@logitblog</a>
                                </br>
                                LinkedIn: <a href="https://www.linkedin.com/in/ryanbijkerk/" style="color: white">/in/ryanbijkerk</a>
                            </p>
                            <!-- <a href="#about" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
    