    <!-- Intro Header -->
    <header class="intro main">
        <div class="intro-body" style="background-color: rgba(0, 0, 0, 0.5)">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="brand-heading">The death of your classic blog by using GitHub Pages</h2>
                        <p class="intro-text">by Eltjo van Gulik & Ryan Ververs-Bijkerk<br>
                        <a href="#2_about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
