    <!-- Intro Header -->
    <section id="2_about"></section>

        <header class="intro about">
            <div class="intro-body" style="background-color: rgba(0, 0, 0, 0.1)">
                <div class="container">  
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="brand-heading">About</h1>
                            <p class="intro-text" style="float: left">
                                Eltjo van Gulik
                                </br>
                                Principal Consultant at RawWorks
                                </br>
                                <img src="https://www.logitblog.com/assets/images/community/ctp.png" style="width: 220px;">
                            </p>

                            <p class="intro-text" style="float: right">
                                Ryan Ververs-Bijkerk
                                </br>
                                Technical Evangelist at RawWorks
                                </br>
                                <img src="https://www.logitblog.com/assets/images/community/ctp.png" style="width: 220px;">
                            </p>

                            <a href="#3_dead_blog" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    