    <!-- Intro Header -->
    <section id="3_dead_blog"></section>

    <header class="intro dead_blog">
        <div class="intro-body" style="background-color: rgba(0, 0, 0, 0.3)">
            <div class="container">  
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="brand-heading">Why your classic blog is dead?</h1>
                        <img src="{{site.baseurl}}/img/wordpress_logo.png" style="width: 200px;" >
                    </br>
                        <a href="#4_github_pages" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    