    <!-- Intro Header -->
    <section id="6_customizing"></section>

        <header class="intro customizing">
            <div class="intro-body" style="background-color: rgba(0, 0, 0, 0.5)">
                <div class="container">  
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="brand-heading">Welcome to the beauty of CSS</h1>
                            <br>
                            <img class="brand-heading" src="{{site.baseurl}}/img/css_explained.jpg" style="width: 500px;" >
                            <br>
                            <!-- <h1 class="brand-heading"><b>Github</b> Pages</h1> -->
                            <a href="#7_migration" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    