    <!-- Intro Header -->
    <section id="7_migration"></section>

        <header class="intro migration">
            <div class="intro-body" style="background-color: rgba(0, 0, 0, 0.3)">
                <div class="container">  
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="brand-heading">How to get your content over to Github pages?</h1>
                            <!-- <h1 class="brand-heading"><b>Github</b> Pages</h1> -->
                            <a href="#8_tips" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    