    <!-- Intro Header -->
    <section id="9_tools"></section>

        <header class="intro tools">
            <div class="intro-body" style="background-color: rgba(0, 0, 0, 0.3)">
                <div class="container">  
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="brand-heading">Tools to get better</h1>
                            <a href="#10_pitfall" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    